{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

    <div class='header_container'>
        <div class='logo_image'>
            <a href="/home/"><img src="{% static 'assets/images/logo.png'%}" alt="logo" /></a>
        </div>
        <div class='right_line_header'>
            <div class="render_role">
                {% if user.is_staff %}
                    ADMIN
                {% else %}
                    GIẢNG VIÊN
                {% endif %}
            </div>


            <div class='account_dropdown ' id="account_dropdown" onclick="toggleDropdown()">
                <img src="{% static 'assets/images/avt_df.jpg'%}" alt="defaut_avata" class='avt_df' />
                <div class='name_user_header'>
                    {% if user.is_staff %}
                        <div style="line-height: 36px;">  ADMIN</div>
                        {% endif %}
                </div>
            </div>
            <div class="box_drop_account unactive_drop_box" id="box_drop_account">
                <div class='item_select_acc' onclick={handleLogout}>
                    <!-- <MdLogout /> -->
                    <a href="{%url 'login'%}" id="logoutLink"> Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'javascript/HeaderComponent.js'%}"></script>


    <div class="body_container">
        <div id="menuContainer"></div>
        {% if user.is_staff %}
            <script src="{% static 'javascript/MenuComponent.js'%}"></script>
                    {% else %}
                    <script src="{% static 'javascript/MenuComponentGV.js'%}"></script>
                    {% endif %}

        <div class="body_page" style="width: calc( 100% - 250px )">

            <div class="container_forum" id="container_forum">
                {% if user.is_staff %}
                <div></div>
                {% else %}
                <div class='ctn_create_forum'>
                    <div class='btn_create_forum' data-toggle="modal" data-target="#createPostModal">Tạo bài viết trên forum</div>
               
                </div>
                {% endif %}
                <!-- CreateForum component -->
                <div class='td_heading'>BÀI VIẾT MỚI NHẤT</div>
                {% if articles %}
                {% for article in articles %}
                <div class="item_forum">
                    {% if article.image %}
                    <div class="img_forum" data-image-url="{{ article.image.url }}">
                        <img src="{{ article.image.url }}" alt="image" class="image">
                    </div>
                    {% endif %}
                    <div class="flex_column">
                        <a class="text_post" href="{{ article.articleID }}">{{ article.title }}</a>
                        <div class="line_author">
                            <div>
                                <p><strong>Đăng bởi:</strong> {{ article.author.name }}</p>
                            </div>
                            <div>
                                <p><strong>Ngày đăng:</strong> {{ article.publish_date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="item_forum">
                    
                    <div class="flex_column">
                        <p>Bạn chưa có bài viết !!</p>
                    
                    </div>
                </div>
                {% endif %}
            </div>
            <script src="{% static 'javascript/ForumPage.js'%}"></script>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>