
{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách Bài Đăng</title>
    <link rel="stylesheet" href="{% static 'css/dienDan.css' %}">
    <link rel="stylesheet" href="{% static 'css/trangchu.css'%}">
    <link rel="stylesheet" href="{% static 'css/trangQuanLyGV.css'%}">
    <link rel="stylesheet" href="{% static 'Fontawesome_v6/css/all.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* CSS styling */
        figure {
            margin: 0; /* Loại bỏ margin mặc định của thẻ figure */
            padding: 0; /* Loại bỏ padding mặc định của thẻ figure */
            text-align: center; /* Canh giữa nội dung trong thẻ figure */
        }
        figcaption {
            font-style: italic; /* Có thể sử dụng font-style: italic để làm nổi bật mô tả */
        }
    </style>
</head>

<body>
    <div class="container_wrap">
        <!-- header -->
        <div id="header_component">
            <script type="module" src="{% static 'javascript/components/Header.js'%}"></script>
        </div>

        <div class="container_body">
            {% for article in articles %}
            <div id="menuIntructor_component" data-instructor-id="{{ article.author.instructorID }}">
                <script type="module" src="{% static 'javascript/components/MenuInstructor.js'%}"></script>
            </div>
            {% endfor %}

            <div class="content_body">
                 <!-- Content -->
                <div class="content">
                    <div class="title_hd1">Danh sách Bài Đăng</div>
                    {% if articles %}
                        <ul class="article-list">
                            {% for article in articles %}
                                <li class="article-item">
                                    <h2>{{ article.title }}</h2>
                                    <p><strong>Tác giả:</strong> {{ article.author }}</p>
                                    <p><strong>Ngày đăng:</strong> {{ article.publish_date }}</p>
                                    <div class="image-post", style="text-align: center;">
                                        <img src="{{ article.image.url }}" alt="Image">
                                    </div>
                                    <div class="content-container">
                                        <p>{{ article.content }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Không có bài đăng nào.</p>
                    {% endif %}
                </div>
                
                </div>
            </div>
        </div>
    </div>

     
</body>

</html>