{%load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>

<body>
    <div class="container_login">
        <div class="body_container">
            <div class="box_img_ct">
                <h2>HỆ THỐNG QUẢN LÝ THÔNG TIN GIẢNG VIÊN</h2>
                <div class="box_img">
                    <img src="{% static 'image/image_gv.png'%}" alt="" srcset="">
                </div>
            </div>
            <div class="form_container">
                <form method="post">
                    {% csrf_token %}
                    <div class="form_box">
                        <h1 style="text-align: center;">Đăng nhập hệ thống</h1>
                        <img src="" alt="">
                        
                        <div>
                            <input type="text" name="username" placeholder="Tên đăng nhập">
                        </div>
                        <div>
                            <input type="password" name="password" placeholder="Mật khẩu">
                        </div>
                        {% if error_message %}
                        <div class="error_message" >
                            <p>{{ error_message }}</p>
                    
                        </div>
                        {% endif %}
                        
                        <button type="submit" class="btn_login">Đăng nhập</button>
                            {% comment %} <a href="{% url 'home' %}">trang chu</a> {% endcomment %}
                    
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>