{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/giangVienInfo.css' %}">
    <link rel="stylesheet" href="{% static 'Fontawesome_v6/css/all.css' %}">
</head>

<body>
    <div class="container">
        <!-- Header -->
        <div id="header_component">
            <script type="module" src="{% static 'javascript/components/Header.js' %}"></script>
        </div>

        <!-- Sidebar/Menu -->
        <div id="menu_component">
            <!-- Insert menu items dynamically with JavaScript -->
        </div>

        <!-- Content -->
        <div class="content">
            <!-- Teacher Info -->
            <div class="instructor-id">
                <img src="{% static 'image/avatar.jpg' %}" alt="Avatar" class="avatar">
                <div class="info">
                    <h1>Thông Tin Giảng Viên</h1>
                    <!-- Hiển thị thông tin của giảng viên -->
                    <p><strong>Tên Giảng Viên: </strong> {{ instructor.name }}</p>
                    <p><strong>Email: </strong> {{ instructor.email }}</p>
                    <p><strong>Điện Thoại: </strong> {{ instructor.phone }}</p>
                    <p><strong>Khoa : </strong> {{ instructor.department }}</p>
                    <p><strong>Chức vụ: </strong>{{instructor.job_position}}</p>
                    <!-- khai báo biến trạng thái tài khoản -->
                    {% if instructor.is_active %}
                    <p><strong>Trạng Thái: </strong> Đang hoạt động</p>
                    {% else %}
                    <p><strong>Trạng Thái: </strong> Đã bị khóa</p>
                    {% endif %}
                    <!-- <p><strong>Nhắc Nhở:</strong> Bạn có một buổi học vào ngày mai.</p> -->
                </div>
            </div>

            <!-- Menu -->
            <div class="menu">
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Diễn đàn</a></li>
                    <li><a href="#">Kho tài liệu</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="{% static 'javascript/menu.js' %}"></script>
</body>

</html>
