<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QLTT</title>
    <link rel="stylesheet" href="../../css/trangchu.css">
    <link rel="stylesheet" href="../../Fontawesome_v6/css/all.css">
</head>

<body>
    <div class="container">

        <!-- header -->
        <div id="header_component">
            <script type="module" src="../../javascript/components/Header.js"></script>
        </div>

        <div class="container_body">
            
            
            <div id="menu_component">
                <script type="module" src="../../javascript/components/Menu.js"></script>
                <script src="../../javascript/index.js"></script>
            </div>

            <div class="content_body">
                
                <div class="render_body">
                    sthong ke
                </div>
            </div>
        </div>
    </div>


    <script src="../../javascript/index.js"></script>


</body>

</html>